html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  
  /* Variable CSS */

  :root {
      --primary-color :#4a00aa;
      --seconady-color: #fa0e7c;
      --title-color: #141313;
      --back-btn: #CC0361;
      --text-color: #837d7d;
      --brand-color: linear-gradient(to right, rgb(68, 22, 194), #4F09CB);
      --border-color: #201f1f17;
      --gradiant-color: linear-gradient(to right, rgba(181, 5, 154, .5), rgba(56, 4, 241, .5));
      --cta-color: linear-gradient(to right, rgba(181, 5, 154, .8), rgba(56, 4, 241, .8));
      --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
      --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
      

  }